:root {
  --font-size-0: 16px;
  --font-size-1: 20px;
  --font-size-2: 36px;
  --font-size-3: 64px;

  --font-weigth-normal: 300;
  --font-weigth-bold: 500;

  --line-height-110: 110%;
  --line-height-120: 120%;
  --line-height-140: 140%;

  --br-20: 20px;
  --br-10: 10px;

  --white: #fff;
  --black-3: #f7f7f8;
  --blue-3: #F7F2FC;
  --blue-2: #6700eb;
  --blue-1: #5700c7;
}


html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1120px;
  margin: 0 auto;
}

.fs0{
  font-size: var(--font-size-0);
  font-weight: var(--font-weigth-normal);
  line-height: var(--line-height-140);
}

.fs1{
  font-size: var(--font-size-1);
  font-weight: var(--font-weigth-normal);
  line-height: var(--line-height-140);
}

.fs1plus{
  font-size: var(--font-size-1);
  font-weight: var(--font-weigth-bold);
  line-height: var(--line-height-140);
}

.fs3plus{
  font-size: var(--font-size-3);
  font-weight: var(--font-weigth-bold);
  line-height: var(--line-height-110);
}

.fs2plus{
  font-size: var(--font-size-2);
  font-weight: var(--font-weigth-bold);
  line-height: var(--line-height-120);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
